<section class="information-section-container">

<article>
    <h1>How Does This Work?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus mollis mauris vitae cursus.</p>
</article>

<div class="container">
    <div class="food-info-container">
        <img src="assets/images/pot-of-food.svg" alt="portion of food">
        <h1>Go To Recipes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus mollis mauris vitae cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="food-info-container">
        <img src="assets/images/diet.svg" alt="diet">
        <h1>Select Type of Dish and Diet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus mollis mauris vitae cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="food-info-container">
        <img src="assets/images/eye.svg" alt="">
        <h1>Press The Search Button </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus mollis mauris vitae cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

</div>

</section>
