
<div>
    <div class="foodlist-container">
        <h1 class="title">Bookmarks</h1>
     <section class="hero-contaier">

         <div *ngFor="let recipe of recipes"  class="food-recipe-container">
             <div class="recipe-container">
             <img class="img-container-recipe" src="{{recipe.image}}" alt="{{recipe.title}}">
             <div>
                 <h3>{{recipe.title}}</h3>
             </div>
             <a class="view-recipe" routerLink="/recipe/{{recipe.id}}" routerLinkActive="active">view recipe</a>
             <a (click)="removebtn(recipe.id)" routerLink="/bookmark" routerLinkActive="active" class="view-recipe">Delete</a>
             </div>
         </div>
     </section>
     <img class="diver" src="../../assets/images/diver.svg">
     <img class="diver-two" src="../../assets/images/diver.svg">
     <img class="fish-one" src="../../assets/images/twobluefish.svg">
     <img class="fish-two" src="../../assets/images/fish.svg">
     <img class="wave" src="../../assets/images/wave.svg">
     </div>
</div>
