<header>
<div class="titel-container">
  <h1 class="title">
    Stay Strong
  </h1>
  <h2 class="title">
    And Healthy
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus mollis mauris vitae cursus.</p>
  <div class="btn-container">
    <a class="explore-btn" routerLink="recipes">Explore more</a>
  </div>
</div>
<img class="diver" src="../../assets/images/diver.svg">
<img class="fish" src="../../assets/images/fish.svg">
</header>

<app-information></app-information>